name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            jobtype: 1
          - os: ubuntu-latest
            jobtype: 2
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 1.8
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 8.0.372+7
        cache: sbt
    - name: Install sbt
      uses: sbt/setup-sbt@v1
    - name: Build and test
      if: ${{ matrix.jobtype == 1 }}
      shell: bash
      run: sbt -v '++ 2.12.x' scripted
    - name: Scala 3
      if: ${{ matrix.jobtype == 2 }}
      shell: bash
      run: sbt -v '++ 3.x' 'scripted agent/*'
